@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root{
--color: #f6ec82;
--h1: 3.5rem; /*@ full display*/
--h1-2: 3.3rem;
--h1-3: 2.5rem;
--hero-bttn-1-width: 30%;
--hero-bttn-2-width: 20%;
--hero-bttn-3-width: 50%;
--hero-bttn-3-height: 1.7rem;
--section-1: 20px 4%;
--section-2: 15px 3%;
--section-3: 15px 2%;
--font-family-2: 'archivo Black';
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'poppins',sans-serif;
    scrollbar-width: thin;
    text-size-adjust: 100%;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: .9rem;
}

p{
    font-size: .9rem;
}

section{
    padding: var(--section-1);
}

html,body{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


#header{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    padding: var(--section-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2.5rem;
    z-index: 999;
}

.logo{
    font-weight: 900;
    font-size: 1.5rem;
    color: #000000;
}

#close{
    display: none;
}

#header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

#header li a{
    position: relative;
    isolation: isolate;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 3px;
}

#header li a::after{
    position: absolute;
    content: "";
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    width: 0;
    transition: .3s ease;
}

#header li a:hover::after{
    width: 100%;
}


#header.active{
    display: none;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navform{
    display: none;
}

#mobilenav{
    display: none;
}
#navicon{
    display: flex;
    align-items: center;
}

#navicon i{
    font-size: 1.6rem;
    align-items: center;
    margin-right: .5rem;
    cursor: pointer;
}

#mobileicons{
    display: none;
    align-items: center;
    padding: 0;
    column-gap: .3rem;
}

#mobileicons i{
    font-size: 1.6rem;
}
#mobile{
    display: none;
}

#container{
    padding: 2rem 0;
    min-height: 100vh;
    margin-bottom: 1rem;
}

#hero{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.179), #0000008b), url(Images/Products/Banners/Lookbook\ _\ ESSENTIALS\ Spring\ 2022\ Core.jpeg);
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 60px 0;
    color: #d6d6d6;
    overflow: hidden;
  }

#herovideo{
  position: absolute;
  width: 100%;
  height: inherit;
  top: 50%;
  left: 50%;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, .2);  
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4.4rem 0;
    border-radius: .5rem;
    transition: .3s ease;
    z-index: 3;
}

.hero-content h1{
  font-size: var(--h1);
  font-family: var(--font-family-2);
  font-weight: 900;
  line-height: 1.2;
}

.hero-content h2{
  line-height: 1.1;
  font-weight: 600;
  padding-bottom: .5rem;
}

.hero-content p{
  padding-bottom: .5rem;
}

.hero-content button{
  width: var(--hero-bttn-1-width);
  height: 3.3rem;
  border-radius: .5rem;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, .30);
  cursor: pointer;
  transition: .3s ease;
}

.hero-content button:hover{
  background-color: rgba(0, 0, 0, 0.874);
}

#product{
    text-align: center;
    margin: 2rem 0;
}

#product h2{
    font-weight: 500;
    text-decoration: underline;
}

#product a{
    transition: .3s ease;
}

#product a:hover{
    text-decoration: underline;
}

.pro-card{
    text-align: center;
    padding: 1rem;
}

.card img{
    max-width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
    border-radius: .5rem;
}

.item-card img:hover{
    filter: brightness(.95);
}

.card{
    padding: .3rem;
    gap: 1rem;
    white-space: nowrap;
}

.card-des{
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: justify;
}

.card-des a{
    font-weight: 400;
}

.card-des a:hover{
    text-decoration: underline;
}

.card-des p{
    font-weight: 700;
}

.card-des button{
    width: 100%;
    padding: .3rem;
    border-radius: .5rem;
    border: none;
    color: #d6d6d6;
    text-align: center;
    background-color: #000000;
}

.card-des button:hover{
    background-color: #f3d662;
    color: #000;
}    

.card-des button i{
    margin-right: .3rem;
}

#sect{
    box-sizing: border-box;
    text-align: center;
}

#sect h2{
    font-weight: 400;
    font-size: 1.9rem;
    text-decoration: underline;
}

.sect-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    margin-bottom: .5rem;
}

.sect-card{
    width: 23%;
    padding: 1rem;
    text-align: center;
}

.sect-card img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: .4s ease;
}

.sect-card img:not(:hover){
    transform: scale(.97);
    filter: brightness(.7);
}

.sect-card a{
    text-decoration: underline;
}

#sect button{
    position: relative;
    background-color: transparent;
    border: 1px solid #000000b2;
    padding: .4rem 1.2rem;
    font-size: 1rem;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#sect button::after{
    content: '';
    position: absolute;
    top: 0;
    color: #fff;
    z-index: -1;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #d6d6d6;
    transition: right .6s ease;
}

#sect button:hover::after{
    right: 0;
}

#promo{
    margin: 3rem 0;
    padding: 0;
    min-height: 80vh;
}

.promo-flex{
    display: flex;
    align-items: center;
    min-height: inherit;
    gap: 2rem;
}

.promo-card{
    width: 100%;
    padding: 3rem 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: inherit;
    line-height: 1.1;
}

.one h2,
.two h2{
    font-size: 2.3rem;
    font-weight: 500;
    color: #d6d6d6;
}

.one p,
.two p{
    color: #d6d6d6;
    padding: .5rem 0;
}

.one button,
.two button{
    width: 30%;
    height: 2.5rem;
    border-radius: .4rem;
    border: none;
    overflow: hidden;
    cursor: pointer;
    background-color: #f6ec82;
    font-weight: 600;
    transition: .4s ease-in-out;
}

.one button:hover,
.two button:hover{
    background-color: #d6d6d6;
}


.one{
    background-image: linear-gradient(#00000074, #00000056), url(/Images/Products/Section/street.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: inherit;
    transition: .3s ease-in-out;
}

.one :hover{
    background-size: 500px;
}

.two{
    background-image: linear-gradient(#00000074, #00000056), url(/Images/Products/Section/Jordan\ Stadium\ 90\ trainer\ in\ white\ and\ gold.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: inherit;
}

#frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: .4s ease;
}

#frame h1,
#frame h2{
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    color: #000000;
    line-height: 1.1;
    transition: inherit;
}

#frame h2{
    margin-bottom: .7rem;
    font-weight: 400;
}


iframe{
    margin-bottom: .5rem;
    transition: .5s ease;
}

#frame a{
    font-weight: 600;
    transition: .3s ease;
}

#frame a:hover{
    color: #d6d6d6;
}

#item{
    padding: 2rem inherit;
    margin: .3rem 0;
    text-align: center;
}

#item h2{
    font-weight: 400;
    text-decoration: underline;
}


.item-pro{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    transition: .4s ease;
}

.item-card img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    object-position: center;
    transition: .4s ease;
}

.item-card img:hover{
    filter: brightness(.95);
}


.item-card{
    width: 23%;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: inherit;
}

.item-card:hover{
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.099);
}

.item-des{
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: justify;
    transition: inherit;
}

.item-des a{
    font-weight: 400;
}

.item-des p{
    font-weight: 700;
}

.item-des a:hover{
    text-decoration: underline;
    color: #251b1b;
}

.item-des button{
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    color: #d6d6d6;
    text-align: center;
    background-color: #000000;
}

.item-des button:hover{
    background-color: #f3d662;
    color: #000;
}    

.item-des button i{
    margin-right: .3rem;
}

.go button{
    padding: .5rem 1.5rem;
    background-color: #000;
    color: #d6d6d6;
    cursor: pointer;
    border: none;
}

.go button:hover{
    background-color: #b2adad;
    color: #000;
}

#news{
    text-align: center;
    background-color: #d6d6d6;
    min-height: 30vh;
    transition: .4s ease;
}

#news h2{
    font-weight: 500;
    padding: .2rem;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: .2rem;
    transition: inherit;
}

.form input{
    width: 50%;
    height: 3rem;
    border: none;
    border-radius: .4rem;
    padding-inline: .8rem;
}

.form button{
    padding: .8rem 1.4rem;
    border: none;
    border-radius: .4rem;
    background-color: #000;
    color: #d6d6d6;
    cursor: pointer;
}

.form button:hover{
    background-color: rgba(0, 0, 0, 0.874);
}

#footer{
    background-color: #d6d6d6;
}

.collapse{
    width: 100%;
    height: 2.3rem;
    border: none;
    text-align: justify;
    background-color: transparent;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    border-bottom: 1.4px solid #000;
    transition: .3s ease-in-out;
}

.footer-content{
    padding: .5rem 0;
    display: none;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.active, .collapse:hover{
    transition: .4s ease;
}

.list-foot{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.list-foot li{
    width: 100%;
    padding: .3rem 0;
    border-bottom: 1.4px solid #000;
}

.list-foot li a{
    font-size: 1rem;
    transition: .3 ease;
}

.list-foot li a:hover{
   color: #2f2f2f;
}

.socials{
    padding: .6rem 0;
}

.socials i{
    font-size: 2rem;
    cursor: pointer;
    transition: .3s scale;
}

.socials i:hover{
    transform: scale(1.1);
}

.end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
}



@media (max-width: 900px) {
    #header{
        position: flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        top: 0;
        height: 2rem; 
        backdrop-filter: blur(10px);
    }

    #navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -100%;
        padding: 6rem 2% 3rem;
        width: 100%;
        min-height: 100vh;
        background-color: #fff;
        transition: right .3s;
    }

    #navbar.active{
        right: 0;
        background-color: #d6d6d6;
    }

    .logo{
        font-size: 1.5rem;
    }

    #navbar li{
        display: none;
    }

    #mobileicons{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    #mobileicons i{
        font-size: 1.6rem;
    }
    #mobilenav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    #mobilenav p{
        width: 100%;
        text-align: justify;
        padding: 1.3rem 1rem;
        border-radius: .4rem;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transition: .3s ease;
    }

    #mobilenav p:hover{
        background-color: rgba(0, 0, 0, 0.30);
        color: #d6d6d6;
    }

    #navform{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        font-weight: 500;
        text-align: justify;
        width: 100%;
        cursor: pointer;
        transition: .3s ease;
    }

    
    #navform p{
        background-color: #b2adad;
        border-radius: .3rem;
        padding: 1rem 1rem;
        width: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #navform p:hover{
        background-color: #f6ec82;
    }

    #navform i{
        border-radius: 50px;
        margin-right: .5rem;
        cursor: pointer;
    }

    #navicon p,
    #navicon a{
        display: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #close{
        display: flex;
        position: absolute;
        top: 1.3rem;
        right: 2%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
    }

    .hero-content{
        margin: 1%;
        padding: 3rem;
    }

    .hero-content h1{
        font-size: var(--h1-2);
    }

    .sect-item{
        flex-wrap: wrap;
    }

    .sect-card{
        width: 23%;
    }

    .one h2,
    .two h2{
        font-size: 2rem;
    }

    .item-card{
        width: 23%;
        padding: .8rem;
    }
    
}

@media (max-width: 868px){
    .promo-flex{
        flex-wrap: wrap;
    }

    .pro-card{
        width: 100%;
        padding: 3rem;
    }

    .item-card{
        padding: .3rem;
    }

    #news p{
        font-size: .9rem;
    }
}
    


@media (max-width: 768px){
    .sect-card{
        width: 40%;
    }

    .promo-card{
        padding: 5rem 1% 3rem;
    }
    

    .item-card{
        width: 40%;
    }

    #news{
        padding: 10px 2%;
    }
    
    #news h2{
        padding: .4rem;
        font-size: 1.5rem;
    }

    .form{
        padding: 1.4rem;
    }

    .form button{
        padding: .8rem 1.5rem;
    }
}

@media (max-width: 668px){
    .hero-content{
        padding: .3rem;
    }

    .hero-content h1{
        font-size: var(--h1-3);
    }
    
    .sect-card{
        padding: .5rem;
        width: 40%;
    }

    #frame h1,
    #frame h2{
        text-align: center;
        font-size: 1.2rem;
    }

    iframe{
        width: 470px;
        height: 315px;
        padding: .3rem;
    }


    .item-card{
        width: 42%;
    }

    .item-des a{
        font-size: 350;
    }

    .card-des button,
    .item-des button{
        border-radius: .3rem;
        padding: .55rem 0;
    }

    .card-des button i,
    .item-des button i{
        margin: 0;
    }

    #news h2{
        font-size: 1.3rem;
    }

}


@media (max-width: 468px) {
    #navbar{
        padding: 4rem .3rem 7rem;
    }

    .logo{
        font-size: 1.3rem;
        font-weight: 900;
    }

    #mobileicons i{
        font-size: 1.5rem;
    }

    #hero{
        height: 75vh;
    }
    
    .hero-content h1{
      font-size: var(--h1-3);
    }

    .hero-content span{
        font-size: .9rem;
    }

    .hero-content h2{
        font-size: 1.8rem;
        font-weight: 800;
    }

    .hero-content button{
        width: var(--hero-bttn-3-width);
    }
    

    #product a,
    #product p{
    transition: .3s ease;
    }

    .pro-card{
        width: 100%;
        padding: 1.5rem 1%;
    }

    .card{
        width: 100%;
    }

    #sect h2{
        font-size: 1.4rem;
    }

    .sect-item{
        padding: 1rem 0;
    }

    .sect-card{
        width: 43%;
        padding: 0;
    }

    .one h2,
    .two h2{
        font-size: 1.8rem;
    }

    .one button,
    .two button{
        width: 50%;
    }

    iframe{
        max-width: 100%;
        padding-inline: .2rem;
        height: 300px;
    }

    .item-card{
        width: 47%;
        padding: .5rem .2rem;
    }

    #news{
        padding: .8rem 1% 3rem;
        min-height: 30vh;
    }

    .form input{
        width: 100%;
        height: 2.6rem;
    }

    .form button{
        padding: .6rem .9rem;
    }
}

 
@media (max-width: 325px){
    #hero{
        min-height: 100vh;
    }

    .sect-card{
        width: 100%;
    }

    .item-card{
        width: 100%;
    }

    .form{
        flex-direction: column;
    }
    .form button{
        width: 100%;
    }
}

@media (max-width: 240px){
    .logo{
        font-size: 1rem;
    }

    .hero-content h1{
        font-size: 1.3rem;
    }

    .hero-content h2{
        font-size: 1rem;
        font-weight: 600;
    }

    .hero-content p{
        font-size: .9rem;
    }
}
